/* 
@import "tailwindcss/preflight";
@import "tailwindcss";


@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;

  --color-primary:270 70% 50%;;
  --color-primary-foreground: 210 20% 98%;

  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 84% 4.9%;

  --color-muted: 210 40% 96.1%;
  --color-muted-foreground: 215.4 16.3% 46.9%;

  --color-accent: 210 40% 96.1%;
  --color-accent-foreground: 222.2 47.4% 11.2%;

  --color-destructive: 0 72% 51%;
  --color-destructive-foreground: 210 20% 98%;

  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;

  --color-border: 220 13% 91%;
  --color-input: 220 13% 91%;
  --color-ring: 263.4 70% 50.4%;

  --radius-base: 0.25rem;
  --radius-md: calc(0.25rem + 0.1875rem);
  --radius-lg: calc(0.3125rem + 0.1875rem);
}

@custom-variant dark (&:is(.dark *));
.dark {
  --color-background: 222.2 84% 4.9%;
  --color-foreground: 210 20% 98%;

  --color-card: 222.2 84% 4.9%;
  --color-card-foreground: 210 20% 98%;

  --color-primary: 263.4 70% 50.4%;
  --color-primary-foreground: 210 20% 98%;

  --color-muted: 217.2 32.6% 17.5%;
  --color-muted-foreground: 215 20.2% 65.1%;

  --color-accent: 217.2 32.6% 17.5%;
  --color-accent-foreground: 210 20% 98%;

  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 210 20% 98%;

  --color-popover: 222.2 84% 4.9%;
  --color-popover-foreground: 210 20% 98%;

  --color-border: 217.2 32.6% 17.5%;
  --color-input: 217.2 32.6% 17.5%;
  --color-ring: 263.4 70% 50.4%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}  */
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/* Light & Dark design tokens */
@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;

  --color-primary: 270 70% 50%;
  --color-primary-foreground: 210 20% 98%;

  --color-border: 220 13% 91%;
  --color-ring: 263.4 70% 50.4%;
}

body{
  font-family: "Nunito", sans-serif;
}